/* allow map to fill viewport */
html, body, #mapid, .container-fluid
{
    /* height of these elements */
    height: 100%;

    /* no margin around these elements */
    margin: 0;

    /* disable scrollbars */
    overflow: hidden;

    /* no padding within these elements */
    padding: 0;
	
	font-family: 'Open Sans', sans-serif;
}

main {
	height: 100%;
	margin-top: 50px;
}

#mapid {
    height: calc(100% - 50px);
    width: 100%;
    margin-top: -50px !important;
}

.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
}

#recipes-button {
    margin-top: 10px;
}

.media-object {
	height: 128px;
	width: 128px;
	border-radius: 10px;
}

#recipe-list {
	overflow: scroll;
}

/* Important part */
.modal-dialog{
    overflow-y: initial !important
}

.modal-body{
    height: 70vh;
    overflow-y: auto;
	overflow-x: hidden;
}

#loader {
	margin-top: 40%;
}

.pagination {
	margin: 0;
}

a {
	cursor: pointer;
}

#pasta {
	max-width: 100%;
	border-radius: 10px;
}

.disabled {
	pointer-events: none;
}