{% extends "layout.html" %}

{% block title %}
    test
{% endblock %}

{% block main %}

<div id="mapid"></div>
            
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="myModalLabel">Recipes</h4>
	  </div>
	  <div class="modal-body" id="recipe-list">
		<img class="center-block" id="loader" alt='loading' src='/static/ajax-loader.gif'/>
	  </div>
	  <div class="modal-footer">
		<nav aria-label="...">
		  <ul class="pager">
			<li><a href="#">Previous</a></li>
			<li><a href="#">Next</a></li>
		  </ul>
		</nav>
	  </div>
	</div>
  </div>
</div>

{% endblock %}